.ChatBox {
  text-align: center;
  width:70vw;
}

.ChatBox-form {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10vh;
}

input{
  padding: 12px 20px;
  margin: 1vw 0;
  margin-left:5vw;
  min-width: 50vw;
  border-radius: 20px;
  background-color: white;
  border: 2px solid #d1d1cb;
  font-size: calc(6px + 2vmin);
}

button{
  min-width:5vw;
  padding: calc(1.5vmin) 16px;
  font-size: calc(6px + 2vmin);
  border-radius: 12px;
  background-color: white;
  border: 2px solid #d1d1cb;
}
button:hover{
  cursor:pointer;
}

